
button{
    margin-bottom: 10px;
}

#modal-thingy {
    position: absolute;
    left: 32em;
    top: 10em;
    width: 400px;
    height: 400px;
    background-color: white;
    padding: 15px;
}
.show{
  display: block;
}
.hide {
  display: none;
}

